﻿demo/
screens/
app/
.vscode/
.idea/
*.png
*.log
*.ts
!index.d.ts
!videoplayer.d.ts
!subtitle-source/subtitle-source.d.ts
!video-source/video-source.d.ts
tsconfig.json
README.md
*.tgz
*.zip
*.tar
.npmignore
.idea
*.map
*.stackdump
package*/
